#app {
  padding: 0;
}

.block {
  width: 100%;
  padding: 2rem 0;
}

nav {
  background-color: aquamarine;
}

.banner-block {
  background-color: bisque;
}

.one-column-block {
  background-color: cadetblue;
}

.two-column-icon-block {
  background-color: crimson;
}

.two-column-block {
  background-color: darkgray;
}
